.home .cover {
    background: grey;
    background-image: url(https://res.cloudinary.com/diknntl0x/image/upload/v1585982918/banner_ymtwkc.jpg);
    min-height: 40rem;
    height: 90vh;
    background-size: cover;
    position: relative;
}

.home .cover nav {
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    display: flex;
}

@media (min-width: 767px) {
    .home .cover nav {
        padding: 0 3rem;
    }
}

.home .cover nav .logo {
    width: 5rem;
    margin: 2rem 0 2rem 0;
}

.home .cover nav .gap {
    flex-grow: 1;
}

.home .cover nav .link {
    color: white;
    margin: 0 3rem 0 0;
    text-transform: uppercase;
    font-weight: 600;
    display: none;
}

@media (min-width: 767px) {
    .home .cover nav .link {
        display: block;
    }
}

.home .cover nav .link.button {
    color: black;
    width: 10rem;
    display: block;
    margin: 0;
}

.home .cover .banner {
    position: absolute;
    bottom: 20%;
    left: 2rem;
}

@media (min-width: 767px) {
    .home .cover .banner {
        left: 3rem;
    }
}

.home .cover .banner .title {
    max-width: 45rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    margin: 0 0 3rem 0;
}

@media (min-width: 767px) {
    .home .cover .banner .title {
        font-size: 3rem;
        line-height: 4rem;
    }
}

.home .cover .banner .cta {
    background: #FF794F;
    color: white;
    text-transform: uppercase;
    display: inline-flex;
    height: 2.5rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.home section {
    display: flex;
    max-width: 60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 5rem auto;
    padding: 0 1rem;
}

@media (min-width: 767px) {
    .home section {
        padding: 0;
    }
}

.home section .description {
    margin: 2rem 0;
    text-align: center;
}

.home .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FF794F;
    text-transform: uppercase;
}

.home .bottom {
    width: 3rem;
    height: .25rem;
    background: grey;
}

.home .how .tabs .tab {
    color: #FF794F;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    cursor: pointer;
}

.home .how .tabs .tab:first-of-type {
    margin: 0 1.5rem 0 0;
}

.home .how .tabs .tab.active {
    background: #F4F4F4;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}

.home .how .tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

@media (min-width: 767px) {
    .home .how .tiles {
        flex-direction: row;
        align-items: self-start;
    }
}

.home .how .tile {
    display: flex;
    flex-direction: COLUMN;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
    max-width: 20rem;
}

.home .how .tile img {
    max-width: 10rem;
}

.home .how .tile .heading {
    font-size: .9rem;
    font-weight: bolder;
    letter-spacing: initial;
    margin: 1rem 0 1rem 0;
}

.home .how .tile .sub {
    font-size: .8rem;
}

.home .mission .description {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 1.5rem 0;
}

@media (min-width: 767px) {
    .home .mission .description {
        font-size: 2rem;
    }
}

.home .gallery {
    margin: 2rem 0;
    width: 100%;
}

.home .team {
    margin: 0 0 3rem 0;
    text-align: center;
}

.home .newsletter {
    text-align: center;
}

.home .newsletter form {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;
    align-items: center;
}

@media (min-width: 767px) {
    .home .newsletter form {
        flex-direction: row;
    }
}

.home .newsletter .description {
    padding: 0 10%;
}

.home .newsletter input {
    height: 3rem;
    width: 18rem;
    font-size: 1rem;
    padding: .25rem 1rem;
    /* margin: 2rem .5rem 3rem 0; */
    border: 1px solid #929292;
    border-radius: 2px;
}

.home .newsletter input:focus {
    outline: none;
    border: 1px solid #4a4a4a;
}

.home .newsletter button {
    height: 3rem;
    width: 8rem;
    background: #FF794F;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 1rem;
}